<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="do_gagan2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <do_gagan2.Properties.Settings>
            <setting name="LastMovieFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipForwardSec" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SkipBackwardSec" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LastAudioVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="NewMemoBlockDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAutoSaveEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MultiplyFactorForSkipWithShiftKey" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="isLockOnAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StringF1" serializeAs="String">
                <value>タスク開始:$t$c</value>
            </setting>
            <setting name="StringF2" serializeAs="String">
                <value>参加者「$c$t」</value>
            </setting>
            <setting name="StringF3" serializeAs="String">
                <value>進行役「$c$t」</value>
            </setting>
            <setting name="StringF4" serializeAs="String">
                <value>見所！:$t$c</value>
            </setting>
            <setting name="StringF5" serializeAs="String">
                <value>タスク完了:$t$c</value>
            </setting>
        </do_gagan2.Properties.Settings>
    </userSettings>
</configuration>